<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>CreateVm</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet"/>
</head>
<body>
<form class="layui-form" method="post" id="VmForm" action="do_createVm">
    <div class="layui-form-item">
        <label class="layui-form-label">VmName</label>
        <div class="layui-input-block">
            <input type="text" name="VmName" lay-verify="title" autocomplete="off" class="layui-input" required>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">VmDescription</label>
        <div class="layui-input-block">
            <input type="text" name="VmDescription" lay-verify="title" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Cluster</label>
        <div class="layui-input-block">
            <select id="cluster" name="Cluster" lay-filter="cluster" lay-verify="required">
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Host</label>
        <div class="layui-input-block">
            <select id="host" name="Host" lay-verify="required">
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">VmMem(MB)</label>
        <div class="layui-input-block">
            <select id="vmMemory" name="VmMemory" lay-verify="required">
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">VmDisk(GB)</label>
        <div class="layui-input-block">
            <input type="text" name="VmDisk" lay-verify="title" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">VmAddr</label>
        <div class="layui-input-block">
            <select id="vmAddr" name="VmAddr" lay-verify="required">
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">VmCPUs</label>
        <div class="layui-input-block">
            <select id="vmCPUs" name="VmCPUs" lay-verify="required">
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">ISO</label>
        <div class="layui-input-block">
            <select id="iso" name="iso" lay-verify="required">
            </select>
        </div>
    </div>
    <button style="display: none" id="btn" class="btn btn-lg btn-primary btn-block" type="submit"></button>
</form>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/js/createVm.js}"></script>
</body>
</html>