<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>KVM - Layui</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">KVM</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="/logout">logout</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-gray">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <div id="tree" class="demo-tree-more"></div>
        </div>
    </div>

    <div class="layui-body" id="contentMain">
        <!-- 内容主体区域 -->
        </br>
        <h1 style="position: center">Cluster List</h1>
        <button data-method="createCluster" class="layui-btn">CreateCluster</button>
        <table class="layui-hide" id="cluster"></table>
        <h1 style="position: center">Link Host</h1>
        <table class="layui-hide" id="host"></table>
        <h1 style="position: center">Link VM</h1>
        <table class="layui-hide" id="vm" lay-filter="vm"></table>

        <h1 style="position: center">Host List</h1>
        <button data-method="createHost" class="layui-btn">CreateHost</button>
        <table class="layui-hide" id="hostUnlink" lay-filter="hostUnlink"></table>
        <h1 style="position: center">VM List</h1>
        <button data-method="createVm" class="layui-btn">CreateVm</button>
        <table class="layui-hide" id="vmUnlink" lay-filter="vmUnlink"></table>

    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script type="text/html" id="vmTool">
    <a class="layui-btn layui-btn-xs" lay-event="start">Start</a>
    <a class="layui-btn layui-btn-xs" lay-event="shutdown">Shutdown</a>
    <a class="layui-btn layui-btn-xs" lay-event="console">Console</a>
    <a class="layui-btn layui-btn-xs" lay-event="memoryStat">memoryStat</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">delete</a>
</script>
<script type="text/html" id="hostTool">
    <a class="layui-btn layui-btn-xs" lay-event="link">Link</a>
</script>
<script th:src="@{/js/host.js}"></script>
</body>
</html>